# 1. Using escape sequence print each word in different lines.
Sample: 

__Input__ : 'Hey! Welcome to sample!' 

**Output**: 
    Hey!
    Welcome
    to
    sample!

In [1]:
print('Hey!\nWelcome\nto\nsample!')

Hey!
Welcome
to
sample!

# 2. Write a program to create a list of even numbers starting from x to y.

__Input__:100 200

__Output__:[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [2]:
out=[]
x=100
y=200
for i in range(x,y+1):
    if i%2==0:
        out.append(i)
print(out)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

# 3. Write a program to replace the given word __X with Y__ from a string.
   
__Input__: Hello! I love apples
      apples
      oranges
      
__Output__:Hello! I love oranges

In [3]:
inp='Hello! I love apples apples oranges'
inp.replace('apples apples','apples')

'Hello! I love apples oranges'

# 4. Write a program generate __N__ numbers of fibbonacci series seperated by space.
           
__Input__: 5

__Output__: 0 1 1 2 3

In [4]:
def f_n(n):
    u=0
    v=1
    if n==1:
        return u
    elif n==2:
        return v
    elif n>2:
        for i in range(2,n):
            c=u+v
            u=v
            v=c
    return v

a=''
for i in range(1,6):
    n=i
    fn=f_n(n)
    fn=str(fn)
    a_1=fn+' '
    a=a+a_1
print(a)

0 1 1 2 3

# 5. Write a program to find sum of digit from a given integer number __N__.
    
__Input__:4235

__Output__:14

In [5]:
inp=4235
inp=str(inp)
l=[i for i in inp]
l
l1=[]
for j in l:
    l=int(j)
    l1.append(l)
tot=0
for i in l1:
    tot=tot+i
print('Total of given number is :',tot)

Total of given number is : 14

# 6. Write a program to find factorial of a given number __N__.

__Input__:5

__Output__:120

In [6]:
inp=5
f=1
for i in range(inp):
    f=f*(i+1)
print(f'Factotial of number {inp} is :\t{f}')

Factotial of number 5 is :	120

# 7. Write a program to generate the following pattern:
                *
                **
                ***
                ****
                *****

In [7]:
a='*'
for i in range(6):
    print(a*i)

*
**
***
****
*****

# 8. Write a program to generate the following pattern.
                *
               ***
              *****
             *******
            *********

In [8]:
a='*'
b=' '
for i in range(5):
    c=a*i
    print(b*(5-i),(c*2)+a,b*(5-i))

      *
     ***
    *****
   *******
  *********

# 9. Write a program to generate the following pattern for given depth N.
    
__Input__:5

__Output__:

                *
               ***
              *****
             *******
            *********

In [9]:
a='*'
b=' '
n=int(input('Enter the depth here : '))
for i in range(n):
    c=a*i
    d=n
    print(b*(d-i),(c*2)+a,b*(d-i))

Enter the depth here : 9
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

# 10. Write a program to generate the following output.
            1 
            2 3 
            3 4 5 
            4 5 6 7 
            5 6 7 8 9

In [10]:
a=1
b=' '
m=''
for i in range(1,6):
    for j in range(1,i+1):
        n=str(i-1+j)+b
        n=m+n
        m=n
    print(m)
    m=''

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

# 11. Write a program that accepts __N__ values and print it as a list
    
__Input__:
                5
                1
                2
                3
                4
                5
__Output__: 
           [1,2,3,4,5]

In [11]:
inp=input('Enter the numbers here with spacing: ')
#inp=str(inp)
l=set()
for i in inp:
    if i==' ':
        pass
    else:
        i=int(i)
        l.add(i)
        l1=[j for j in l]
l1.sort()
print(l1)

Enter the numbers here with spacing: 5 9 9 4 1 2
[1, 2, 4, 5, 9]

In [12]:
inp=int(input('Enter the numbers here without space: '))
inp=str(inp)
l=set()
for i in inp:
    i=int(i)
    l.add(i)
    l1=[j for j in l]
l1.sort()
print(l1)

Enter the numbers here without space: 4987984656
[4, 5, 6, 7, 8, 9]

# 12. Write a program to find the given number is __Armstrong number__ or not and print out as __'Yes'__ or __'No'__.
    
[__Hint__: Armstrong Number is sum of its own digits raised to power of 3]

__Input__:153

__Output__:Yes

In [13]:
inp=int(input("Enter the number :"))
inp=str(inp)
s=0
for i in inp:
    i=int(i)
    m=i**3
    s=s+m
if s==int(inp):
    print('Yes')
else:
    print('No')

Enter the number :153
Yes

# 13. Write a program to find the  N th number of a __Arthematic Progression__ when initial number(__a__) and difference( **d** ) are given.

__Input__: 
            The input is N, a, d each in newline
                    4
                    2
                    3
__Output__:
            11

In [14]:
a=2
d=3
n=int(input('Enter N : '))

if n<1:
    print('You have enter wrong number')
elif n==1:
    print(a)
else:
    m=a+((n-1)*d)
    print(m)

Enter N : 4
11

# 14. Write a program to generate a sequence of __N__ numbers of a geometric progression when intial number ( **a** ) and common ratio( __r__ ) is given. print the sequence as a list.

   __Input__:
       The input is N,a,r seperated by comma.
               5,2,3                   
   __Output__:

In [16]:
inp='5,2,3'
inp=[int(i) for i in str.split(inp,',')]
l=[]

for i in range(inp[0]):
    t=inp[1]*(inp[2]**(i))
    l.append(t)
print(l)

[2, 6, 18, 54, 162]

# 15. Write a program that calculate number of lowercase, uppercase and numbers alphabets.
    
__Input__:Happy Birthday Draven! Now you are 26.

__Output__:

    Uppercase characters:  4
    Lowercase characters:  24
    Numbers:  2

In [17]:
inp='Happy Birthday Draven! Now you are 26.'
u,l,n=0,0,0
for i in inp:
    if i.isupper():
        u=u+1
    elif i.islower():
        l=l+1
    elif i.isnumeric():
        n=n+1
    else:
        pass
print(f'Uppercase characters : {u}\nLowercase characters : {l}\nNumbers : {n}')

Uppercase characters : 4
Lowercase characters : 24
Numbers : 2

# 16. Write a program to find whether a given string is palindrome or not
    
__Input__: madam

__Output__: Yes

In [18]:
s=input('Enter the name hare : ')
s=s.lower()
st=''
for i in s:
    st=i+st
if s==st:
    print('Yes')
else:
    print('No')

Enter the name hare : nayan
Yes

# 17. Write a program that accepts a sequence of numbers and print the numbers after sorting them seperated by comma.
    
__Input__:
            5
            2
            3
            7
            4
__Output__:
            2,3,4,5,7

In [19]:
inp=input('Enter the Sequence with space : ')

out=''
for i in inp:
    o=''
    if i!=' ':
        if i!=inp[-1]:
            o=o+i+','
            out=out+o
            o=''
        else:
            o=o+i
            out=out+o
            o=''
print(out)

Enter the Sequence with space : 5 2 3 7 4
5,2,3,7,4

# 18. Given below a list of integers, find the triplets whose sum if equal to __zero__ and print them as tuples.
    
[0, 2, 3, 4, 5, 6, 9, -1, -9, -7, -6, -5, -4, -3, -2]

__Example__:

[4,0,-2,-1,2,3]

__Output__:

(4,-2,-2)

(-2,0,2)

(-2,-1,3)

In [20]:
l=[4,0,-2,-1,2,3]
l1=[0,0,0]
for i in l:
    for j in l:
        for k in l:
            l1[0]=i
            l1[1]=j
            l1[2]=k
            s=sum(l1)
            if s==0:
                print(tuple(l1))

(4, -2, -2)
(0, 0, 0)
(0, -2, 2)
(0, 2, -2)
(-2, 4, -2)
(-2, 0, 2)
(-2, -2, 4)
(-2, -1, 3)
(-2, 2, 0)
(-2, 3, -1)
(-1, -2, 3)
(-1, -1, 2)
(-1, 2, -1)
(-1, 3, -2)
(2, 0, -2)
(2, -2, 0)
(2, -1, -1)
(3, -2, -1)
(3, -1, -2)

# 19. Using for loop print aplhabets from a-z seperated by space.

In [21]:
for i in range(97,123):
    print(chr(i),end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

# 20. Given below are two sets **A** and __B__. Find the intersection and print whether is it possible to generate 'sample' from the output or not.
    
    A={'c', 'a', 'd', 'e', 'k', 'r', 'u', 'q', 'r', 'y'}
    
    B={'b', 'h', 'k', 'a', 'd', 'e', 'k', 'r', 'u'}

In [22]:
A={'c', 'a', 'd', 'e', 'k', 'r', 'u', 'q', 'r', 'y'}
B={'b', 'h', 'k', 'a', 'd', 'e', 'k', 'r', 'u'}
C=A.intersection(B)
print(C)
if len(C)>=1:
    print('sample is possible')

{'d', 'u', 'r', 'a', 'e', 'k'}
sample is possible

# 21. Write a program which accepts a string from console and print it in reverse order.
        
__Input__:
           Always keep one finger on the Escape key

__Output__:
            yek epacsE eht no regnif eno peek syawlA 
            
__Difficulty__: Easy

In [24]:
inp=input("Enter the character here : ")
s=''
for i in inp:
    s=i+s
print(s)

Enter the character here : Always keep one finger on the Escape key
yek epacsE eht no regnif eno peek syawlA

# 22. Write a program which accepts a string from console and print the words in reverse order.

__Input__:

   Always keep one finger on the Escape key

__Output__:

syawlA peek eno regnif no eht epacsE yek

__Difficulty__: Easy

In [25]:
inp=input('Enter the sentence here : ')
l=[i for i in inp.split(' ')]
t=''
f=''
for i in l:
    for j in i:
        t=j+t
    f=f+t+' '
    t=''
print(f)

Enter the sentence here : Always keep one finger on the Escape key
syawlA peek eno regnif no eht epacsE yek

# 23. Write a program to calculate the numbers between __X__ and **Y** which are divisible by 5 and 13 but not divisible by 10  seperated by space.
       
   __Input__: X and Y are seperated by space:

   50 200

   __Output__:

   65 195

In [26]:
inp=input('write vaues separated by space')
a=''
b=[]
for i in inp:
    if i==' ':
        b.append(int(a))
        a=''
    else:
        a=a+i
b.append(int(a))
b
for i in range(b[0],b[1]):
    if i%10!=0:
        if i%5==0 and i%13==0:
            print(i)

write vaues separated by space50 200
65
195

# 24. Write a program to calculate all possible permutations for a given sequence of numbers.

__Input__: N is length of sequence and next line contains sequence seperated by space.
            3
            4,6,2

__Output__:
[[2, 6, 4], [6, 2, 4], [6, 4, 2], [2, 4, 6], [4, 2, 6], [4, 6, 2]]

In [27]:
inp=[4,6,2]
out=[]
o=[4,6,2]
for i in inp:
    for j in inp:
        for k in inp:
            o[0]=i
            o[1]=j
            o[2]=k
            if o[0]==o[1] or o[1]==o[2] or o[0]==o[2]:
                pass
            else:
                
                s=list(o)
                out.append(s)

print(out)

[[4, 6, 2], [4, 2, 6], [6, 4, 2], [6, 2, 4], [2, 4, 6], [2, 6, 4]]

# 25. Samantha represents the performance of students using dictionary in tests as follows:
        {'English':{'Sam':60,'Jackson':74}, 'History':{'Gloria':83,'Sam':35} ,....}
    Your task is to create a dictionary with student names as keys and their average marks from all subjects. Consider the below dictionary as input.
    
    
    {'English':{'Sam':60,'Jackson':74,'Ahree':85}, 
     'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61},
     'Geography':{'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'Ahree':76},
     'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85,'Gray':95},
     'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87}
    }

In [28]:
inp={'English':{'Sam':60,'Jackson':74,'Ahree':85}, 
 'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61},
 'Geography':{'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'Ahree':76},
 'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85,'Gray':95},
 'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87}
}

In [29]:
stu=list(set([v for val in inp.values() for v in val]))
for i in stu:
    marks=[val[i] for key,val in inp.items() if i in val]
    avg=sum(marks)/len(marks)
    D={'Average Marks':avg}
    D={i:D}
    print(D)

{'Ahree': {'Average Marks': 83.25}}
{'Isla': {'Average Marks': 84.33333333333333}}
{'Gloria': {'Average Marks': 84.0}}
{'Sam': {'Average Marks': 78.25}}
{'Jackson': {'Average Marks': 85.0}}
{'Aron': {'Average Marks': 76.33333333333333}}
{'Gray': {'Average Marks': 78.0}}

# 26. Create a dictionary from the following keys:
      'Name', 'Class', 'Age' 
      
     with empty lists and input the data of five students.

In [30]:
dic={'Name':[],'Class':[],'Age':[]}
dic['Name']=['Sam','Gray','Ishla','Aron','Aree']
dic['Class']=[5,6,7,8,9]
dic['Age']=[12,13,14,15,16]
dic

{'Name': ['Sam', 'Gray', 'Ishla', 'Aron', 'Aree'],
 'Class': [5, 6, 7, 8, 9],
 'Age': [12, 13, 14, 15, 16]}

# 27. Write a program to concatenate the following dictionaries:

    dict1={'A':10, 'B':20}
    
    dict2={'C':30, 'D':40} 
    
    dict3={'E':50,'F':60}

In [31]:
dict1={'A':10, 'B':20}
dict2={'C':30, 'D':40} 
dict3={'E':50,'F':60}

l=[dict1,dict2,dict3]
dic={key:val for i in l for key,val in i.items()}
dic

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50, 'F': 60}

# 28. Write a program to generate prime numbers from 1 to 1000 and save them to a text file. Read N lines of the previous file.

In [32]:
prime=[]
for i in range(1001):
    j=2
    if i==2:
        prime.append(i)
    else:
        while j<i:
            if i%j!=0:
                k=0
                j+=1
            else:
                k=1
                break
        if k==0:
            prime.append(i)
print(f'No.of Prime numbers between 0-{i} is : {len(prime)}\n')
print(prime)

No.of Prime numbers between 0-1000 is : 168

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

# 29. Write a program to generate numbers from 1 to 1000 and save them to a text file. Read the previous file and print only armstrong numbers.

In [33]:
num=[i+1 for i in range(1000)]
with open('temp.txt',mode='w') as file:
    for i in num:
        file.write(str(i)+' ')
        
with open('temp.txt',mode='r') as file1:
    for i in str.split(file1.read()):
        k=0
        for j in i:
            j=int(j)**3
            k+=j
            if k==int(i):
                print(i)

1
153
370
370
371
407

# 30. Create a game of Rock, Papers and Scissors against computer using Python. Rules for the game are given as follows:
- Rock beats Scissor
- Scissor beats Paper
- Paper beats Rock

If the play loses ask him either he wants to payback or not. If the response is __'Yes'__ then continue the game.  Input moves as __R for Rock, P for Paper and S for scissors__. Response to every move should be proper example:

__Input__:

            R S

__Output__:
            Win
            Play Again?
Here, Player has the option to play one more game to defeat computer or leave the game.

In [36]:
def game():
    play=input('Give Input : ')
    [i,j]=str.split(play)
    if (i=='R' and j=='S') or (i=='S' and j=='P') or (i=='P' and j=='R'):
        print('Win Play Again?')
        print('------------------------------------------------')
        inp=input('yes or no : ')
        if inp=='yes':
            game()
    else:
        print('Loss Play Again?')
        print('------------------------------------------------')
        inp=input('yes or no : ')
        if inp=='yes':
            game()
game()

Give Input : R S
Win Play Again?
------------------------------------------------
yes or no : no

# 31. Write a program to create a pandas series from range __X__ to **Y**.    
__Input__: Range X and Y is given in single line seperated with a space
        10 20

__Ouput__: 

0    10

1    11

2    12

3    13

4    14

5    15

6    16

7    17

8    18

9    19

10   20

dtype: int32

In [37]:
import pandas as pd
pd.Series([i for i in range(10,21)])

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

# 32.  Write a Python program to add, subtract, multiple and divide two Pandas Series.

__Input__: Two series in each line
        1, 2, 3, 4, 5
        6, 7, 8, 9, 10
__Output__:

        Addition:  0     7
            1     9
            2    11
            3    13
            4    15
            dtype: int64
            Substraction:  0   -5
            1   -5
            2   -5
            3   -5
            4   -5
            dtype: int64
            Multiplication:  0     6
            1    14
            2    24
            3    36
            4    50
            dtype: int64
            Division:  0    0.166667
            1    0.285714
            2    0.375000
            3    0.444444
            4    0.500000
            dtype: float64

In [38]:
ser1=pd.Series([1,2,3,4,5])
ser2=pd.Series([6,7,8,9,10])
add=ser1+ser2
print('Addition : ',addition)

sub=ser1-ser2
print('Subtraction : ',sub)

mul=ser1*ser2
print('Multiplication : ',mul)

div=ser1/ser2
print('Division : ',div)

NameError: name 'addition' is not defined

# 33. From the raw data below create a Pandas Series
 
         [ '  Aron’, 'Jackson   ', '   Ahree   ', 'Sam']
 
   - Print all elements after stripping spaces from the left and right
   - Print all the elements after removing spaces from the left only
   - Print all the elements after removing spaces from the right only

In [ ]:
inp=[ '  Aron', 'Jackson   ', '   Ahree   ', 'Sam']
s=pd.Series([str.strip(i) for i in inp])
print(f'Print all elements after stripping spaces from the left and right :\n{s}\n')

l=pd.Series([str.lstrip(i) for i in inp])
print(f'Print all the elements after removing spaces from the left only :\n{l}\n')

r=pd.Series([str.rstrip(i) for i in inp])
print(f'Print all the elements after removing spaces from the right only :\n{r}\n')

# 34. Write a program to convert a dictionary into Pandas Series.
   

__Input__:{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87}

__Output__:

                Sam      89
                Aron     82
                Gray     78
                Isla     93
                Ahree    87
                dtype: int64

In [39]:
pd.DataFrame({'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87},index=[0])

   Sam  Aron  Gray  Isla  Ahree
0   89    82    78    93     87

# 35. Write a program to convert the below dictionary into DataFrame and print head(2) and tail(2) of the DataFrame.
    
__Input__:
{'Name':['Sameer','Leona','Samuel','Jackson','Gray','Sylphia'],
 'Class':[11,11,12,12,11,12],
'Age':[17,17,18,19,17,21,23]
}

__Output__:

           Name      Class     Age
        0   Sameer     11       17
        1   Leona      11       17
           Name      Class     Age
        4   Gray       11       21
        5   Sylphia    12       23

In [40]:
df=pd.DataFrame({'Name':['Sameer','Leona','Samuel','Jackson','Gray','Sylphia'],
                   'Class':[11,11,12,12,11,12],
                   'Age':[17,17,18,19,21,23] })
print(df.head(2))
print(df.tail(2))

     Name  Class  Age
0  Sameer     11   17
1   Leona     11   17
      Name  Class  Age
4     Gray     11   21
5  Sylphia     12   23