In [3]:
import numpy as np
import pandas as pd

In [53]:
# replace()
# np.array_split()
## simple split in ratio 80:20
# str.split().str.get()
# rename()

In [5]:
data=pd.read_csv(r"C:\Users\Parimal\Downloads\HousePrice.csv")
data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

### raplace()

In [6]:
data["POSTED_BY"].replace("Owner","Raviraj",inplace=True)

In [7]:
data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Raviraj,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Raviraj,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Raviraj,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Raviraj,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Raviraj,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Raviraj,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

### np.array_Split()

In [8]:
l=[2,5,8,7,6,7]

In [9]:
np.array_split(l,2)

[array([2, 5, 8]), array([7, 6, 7])]

In [10]:
np.array_split(l,4)

[array([2, 5]), array([8, 7]), array([6]), array([7])]

### simple split in ratio 80:20

In [36]:
a=np.array_split(data,10)
a

[     POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 0      Raviraj                   0     0        2       BHK  1300.236407
 1       Dealer                   0     0        2       BHK  1275.000000
 2      Raviraj                   0     0        2       BHK   933.159722
 3      Raviraj                   0     1        2       BHK   929.921143
 4       Dealer                   1     0        2       BHK   999.009247
 ...        ...                 ...   ...      ...       ...          ...
 2941   Raviraj                   0     0        3       BHK  1404.001404
 2942   Raviraj                   0     1        3       BHK  1555.176821
 2943    Dealer                   0     1        3       BHK   862.068965
 2944    Dealer                   0     0        1       BHK   494.030465
 2945   Builder                   1     0        2       BHK  1216.842105

       READY_TO_MOVE  RESALE                      ADDRESS  LONGITUDE  \
 0                 1       1        Ksfc Layout,Bangalore  12.969910
 1                 1       1    Vishweshwara Nagar,Mysore  12.274538
 2                 1       1             Jigani,Bangalore  12.778033
 3                 1       1  Sector-1 Vaishali,Ghaziabad  28.642300
 4                 0       1             New Town,Kolkata  22.592200
 ...             ...     ...                          ...        ...
 2941              1       1           Santhi Nagar,Eluru  16.708039
 2942              1       1            Varthur,Bangalore  12.940700
 2943              1       1               Marol,Lalitpur  24.690280
 2944              1       1  Mukt Sainik Colony,Kolhapur  16.710471
 2945              0       0         Thiruverkadu,Chennai  13.071572

        LATITUDE  TARGET(PRICE_IN_LACS)
 0     77.597960                   55.0
 1     76.644605                   51.0
 2     77.632191                   43.0
 3     77.344500                   62.5
 4     88.484911                   60.5
 ...         ...                    ...
 2941  81.081471                   40.0
 2942  77.746600                   73.0
 2943  78.418890                  240.0
 2944  74.264881                   24.0
 2945  80.124247                   57.8

 [2946 rows x 12 columns],
      POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 2946   Raviraj                   0     0        2       BHK  1000.000000
 2947    Dealer                   0     0        2       BHK  1237.859455
 2948   Raviraj                   0     0        3       BHK   925.000000
 2949    Dealer                   0     1        3       BHK   745.140389
 2950   Raviraj                   0     0        3       BHK  1700.013077
 ...        ...                 ...   ...      ...       ...          ...
 5886   Raviraj                   0     0        2       BHK   752.011193
 5887    Dealer                   1     1        1       BHK   750.053499
 5888    Dealer                   0     1        3       BHK  2256.063170
 5889   Raviraj                   0     0        2       BHK  1205.377840
 5890   Raviraj                   0     0        2       BHK   796.939751

       READY_TO_MOVE  RESALE                        ADDRESS  LONGITUDE  \
 2946              1       1               Konnagar,Kolkata  22.700000
 2947              1       1                   Succorro,Goa  15.401940
 2948              1       1             Lashkarpur,Kolkata  22.581404
 2949              1       1  Sector 88 Faridabad,Faridabad  28.431862
 2950              1       1            Ardendale,Bangalore  50.817397
 ...             ...     ...                            ...        ...
 5886              1       1  Sector-4 Vasundhara,Ghaziabad  28.659980
 5887              0       1                Airoli,Lalitpur  19.159184
 5888              1       1                      NIBM,Pune  18.475864
 5889              1       1            Sayajipura,Vadodara  22.323406
 5890              1       1          Kurunji Nagar,Chennai  13.090000

        LATITUDE  TARGET(PRICE_IN_LACS)
 2946  88.350000                   23.0
 2947  74.043330                   65.0
 2948  88.108840                   37.0
 2949  77.351104                   34.5
 2950   4.421450                  130.0
 ...         ...                    ...
 5886  77.370279                   43.0
 5887  72.993784                   70.1
 5888  73.890009                  120.0
 5889  73.240395                   26.0
 5890  80.270000                   50.0

 [2945 rows x 12 columns],
      POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 5891    Dealer                   0     0        3       BHK  1622.822002
 5892   Raviraj                   0     0        2       BHK  1140.065147
 5893   Raviraj                   0     0        1       BHK   317.028985
 5894   Raviraj                   0     0        2       BHK   949.913644
 5895    Dealer                   0     0        2       BHK  1423.636364
 ...        ...                 ...   ...      ...       ...          ...
 8831   Raviraj                   0     0        1       BHK   681.013348
 8832   Raviraj                   0     0        2       BHK  1000.000000
 8833    Dealer                   0     0        2       BHK  1111.111111
 8834    Dealer                   0     1        2       BHK  1210.165389
 8835    Dealer                   1     1        2       BHK   665.043087

       READY_TO_MOVE  RESALE                    ADDRESS  LONGITUDE   LATITUDE  \
 5891              1       1    Vaibhav Khand,Ghaziabad  28.919600  76.897200
 5892              1       1          Koritepadu,Guntur  16.313877  80.434836
 5893              1       1               Panki,Kanpur  26.462204  80.239088
 5894              1       1    R V Desai Road,Vadodara  22.715600  73.292700
 5895              1       0        Siddapura,Bangalore  12.953042  77.732643
 ...             ...     ...                        ...        ...        ...
 8831              1       1           Sonarpur,Kolkata  22.442600  88.430400
 8832              1       1  Vishwalaxmi Nagar,Mathura  27.505165  77.647124
 8833              1       1              Thara,Bhiwadi  28.162032  76.811066
 8834              1       1        Gubbalala,Bangalore  12.969910  77.597960
 8835              0       1                Pashan,Pune  18.544200  73.794800

       TARGET(PRICE_IN_LACS)
 5891                   95.0
 5892                   35.0
 5893                   10.5
 5894                   22.0
 5895                   78.3
 ...                     ...
 8831                   25.0
 8832                   16.0
 8833                   17.1
 8834                   60.0
 8835                   71.0

 [2945 rows x 12 columns],
       POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 8836     Dealer                   0     1        2       BHK  1055.069480
 8837     Dealer                   1     1        4       BHK  2334.899143
 8838    Raviraj                   0     0        3       BHK  1014.051862
 8839     Dealer                   0     0        2       BHK  1368.925394
 8840     Dealer                   0     1        2       BHK  1039.861352
 ...         ...                 ...   ...      ...       ...          ...
 11776   Builder                   1     1        2       BHK  1323.076923
 11777    Dealer                   0     0        2       BHK  1290.084777
 11778    Dealer                   0     0        2       BHK  1000.000000
 11779    Dealer                   0     0        2       BHK   820.189274
 11780    Dealer                   0     1        3       BHK  1940.109658

        READY_TO_MOVE  RESALE                        ADDRESS  LONGITUDE  \
 8836               1       1        Mira Road East,Lalitpur  19.283600
 8837               0       1            Zirakpur,Chandigarh  30.662283
 8838               1       1  Prince Anwar Shah Rd.,Kolkata  22.569720
 8839               1       1          Film City Road,Mumbai  19.161130
 8840               1       1    Dombivli (East),Maharashtra  19.216700
 ...              ...     ...                            ...        ...
 11776              0       0           Niranjanpur,Dehradun  30.301800
 11777              1       1            Zirakpur,Chandigarh  30.662283
 11778              1       1             Pratapgarh,Kolkata  22.541110
 11779              1       1              Baguihati,Kolkata  22.617564
 11780              1       1  Sector 81 Faridabad,Faridabad  28.392679

         LATITUDE  TARGET(PRICE_IN_LACS)
 8836   72.867500                   82.0
 8837   76.822397                   84.5
 8838   88.369720                   70.0
 8839   72.886438                  220.0
 8840   73.083300                   60.0
 ...          ...                    ...
 11776  78.015000                   51.6
 11777  76.822397                   35.0
 11778  88.337780                   33.0
 11779  88.427982                   26.0
 11780  77.344375                   92.0

 [2945 rows x 12 columns],
       POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 11781    Dealer                   0     1        2       BHK  1125.118612
 11782   Raviraj                   0     0        2       BHK   872.029649
 11783   Raviraj                   0     0        2       BHK   828.111012
 11784    Dealer                   0     0        2       BHK  1099.954359
 11785    Dealer                   0     0        2       BHK   955.093834
 ...         ...                 ...   ...      ...       ...          ...
 14721    Dealer                   0     1        3       BHK  1264.869151
 14722    Dealer                   0     0        2       BHK  1150.047355
 14723    Dealer                   0     0        3       BHK  2309.172547
 14724   Raviraj                   0     0        3       BHK  2500.000000
 14725    Dealer                   0     0        2       BHK   904.129525

        READY_TO_MOVE  RESALE                          ADDRESS  LONGITUDE  \
 11781              1       1         Ghodbunder Road,Lalitpur  24.690280
 11782              1       1                Sinhgad Road,Pune  19.164548
 11783              1       1                  Khardah,Kolkata  22.720000
 11784              1       1                 Jagatpura,Jaipur  26.832353
 11785              1       1            Sector-77 Noida,Noida  28.568096
 ...              ...     ...                              ...        ...
 14721              1       1                  Labhandi,Raipur  21.241299
 14722              1       1  Sector 34C Kharghar,Maharashtra  19.038205
 14723              1       1        Sector-67 Gurgaon,Gurgaon  28.378021
 14724              1       1          New Manish Nagar,Nagpur  21.094632
 14725              1       1         Suraksha Nagar,Bangalore  20.098413

         LATITUDE  TARGET(PRICE_IN_LACS)
 11781  78.418890                   83.0
 11782  73.527868                   40.0
 11783  88.380000                   18.5
 11784  75.841749                   24.1
 11785  77.390253                   57.0
 ...          ...                    ...
 14721  81.699326                   31.9
 14722  73.066120                   85.0
 14723  77.063066                  180.0
 14724  79.074805                   67.0
 14725  79.107860                   49.7

 [2945 rows x 12 columns],
       POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 14726   Raviraj                   1     1        1       BHK   535.013673
 14727    Dealer                   0     0        2       BHK  1260.162602
 14728   Raviraj                   0     0        1       BHK   540.021601
 14729   Raviraj                   0     0        1       BHK   519.891501
 14730    Dealer                   0     0        2       BHK   855.122513
 ...         ...                 ...   ...      ...       ...          ...
 17666    Dealer                   0     0        3       BHK  1727.086183
 17667   Raviraj                   0     0        2       BHK   720.130933
 17668   Raviraj                   0     0        3       BHK  1510.023431
 17669   Raviraj                   0     0        1       BHK   437.090228
 17670   Raviraj                   0     0        2       BHK   792.079208

        READY_TO_MOVE  RESALE                         ADDRESS  LONGITUDE  \
 14726              0       1           Sector-74 Noida,Noida  28.577673
 14727              1       1  Sector-18 Vasundhara,Ghaziabad  28.659980
 14728              1       1        Nyay Khand III,Ghaziabad  28.666670
 14729              1       1              Hingna Road,Nagpur  21.106063
 14730              1       1                Rajarhat,Kolkata  22.541110
 ...              ...     ...                             ...        ...
 17666              1       1   Sector 75 Faridabad,Faridabad  28.365512
 17667              1       1                Panihati,Kolkata  22.690000
 17668              1       1           Thanisandra,Bangalore  13.055985
 17669              1       1                 Jhotwara,Jaipur  26.955346
 17670              1       1            Chandapura,Bangalore  12.800090

         LATITUDE  TARGET(PRICE_IN_LACS)
 14726  77.389781                   45.0
 14727  77.370279                   62.0
 14728  77.416670                   45.0
 14729  79.006441                   23.0
 14730  88.337780                   52.0
 ...          ...                    ...
 17666  77.346306                   50.5
 17667  88.370000                   22.0
 17668  77.622157                   58.0
 17669  75.734793                   14.0
 17670  77.711820                   24.0

 [2945 rows x 12 columns],
       POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 17671    Dealer                   0     0        2       BHK   885.090218
 17672   Raviraj                   0     0        2       BHK  1130.125928
 17673    Dealer                   1     0        2       BHK   953.139943
 17674   Raviraj                   0     1        3       BHK  1416.831964
 17675    Dealer                   0     0        3       BHK  1336.073998
 ...         ...                 ...   ...      ...       ...          ...
 20611    Dealer                   0     1        3       BHK  2371.882412
 20612    Dealer                   1     1        2       BHK   999.677523
 20613    Dealer                   1     1        3       BHK   833.256180
 20614    Dealer                   1     1        1       BHK   456.643918
 20615   Raviraj                   0     1        3       BHK  1560.062402

        READY_TO_MOVE  RESALE                 ADDRESS  LONGITUDE   LATITUDE  \
 17671              1       1      Medavakkam,Chennai  12.917160  80.192870
 17672              1       1      Manjalpur,Vadodara  22.271214  73.188827
 17673              0       1   Indirapuram,Ghaziabad  28.636760  77.363150
 17674              1       1  Narayanapura,Bangalore  13.338634  77.759291
 17675              1       1        Korattur,Chennai  13.114624  80.188519
 ...              ...     ...                     ...        ...        ...
 20611              1       1   Frazer Town,Bangalore  12.997946  77.612863
 20612              0       1           Hadapsar,Pune  18.496670  73.941670
 20613              0       0    Mulund (West),Mumbai  19.175900  72.952200
 20614              0       1        Anjurdive,Mumbai  18.966670  72.833330
 20615              1       1     Zirakpur,Chandigarh  30.662283  76.822397

        TARGET(PRICE_IN_LACS)
 17671                   46.6
 17672                   35.0
 17673                   29.9
 17674                  100.0
 17675                   78.0
 ...                      ...
 20611                  330.0
 20612                   62.0
 20613                  180.0
 20614                   45.5
 20615                   70.0

 [2945 rows x 12 columns],
       POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 20616    Dealer                   0     0        3       BHK  1314.084768
 20617   Raviraj                   0     0        2       BHK  1110.014800
 20618    Dealer                   1     1        3       BHK  1150.073565
 20619    Dealer                   0     1        1       BHK   680.015111
 20620    Dealer                   0     1        4       BHK  3126.503127
 ...         ...                 ...   ...      ...       ...          ...
 23556    Dealer                   1     0        2       BHK  1174.934726
 23557   Builder                   1     1        2       BHK  1165.892099
 23558    Dealer                   0     0        2       BHK  1262.907659
 23559    Dealer                   0     1        2       BHK  1040.068201
 23560    Dealer                   0     0        2       BHK  1100.038825

        READY_TO_MOVE  RESALE                     ADDRESS  LONGITUDE  \
 20616              1       1             Naktala,Kolkata  22.541110
 20617              1       1   New Housing Colony,Ranchi  23.355560
 20618              0       1   New Chandigarh,Chandigarh  30.735280
 20619              1       1  Sector-16 Ulwe,Maharashtra  19.076466
 20620              1       1    Sector-121 Mohali,Mohali  30.696627
 ...              ...     ...                         ...        ...
 23556              0       1       Sector-16 Ulwe,Mumbai  19.076466
 23557              0       0       Thanisandra,Bangalore  13.055985
 23558              1       1       Malad (East),Lalitpur  19.175800
 23559              1       1          Taloja,Maharashtra  21.561280
 23560              1       1                 Pashan,Pune  18.544200

         LATITUDE  TARGET(PRICE_IN_LACS)
 20616  88.337780                   71.0
 20617  85.334720                   45.0
 20618  76.791110                   46.9
 20619  72.999804                   54.0
 20620  76.693764                  130.0
 ...          ...                    ...
 23556  72.999804                   58.5
 23557  77.622157                   57.7
 23558  72.864300                  170.0
 23559  74.212380                   61.0
 23560  73.794800                   85.0

 [2945 rows x 12 columns],
       POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 23561    Dealer                   0     1        2       BHK  1239.473684
 23562   Raviraj                   0     0        2       BHK   968.686641
 23563    Dealer                   1     0        2       BHK   980.100980
 23564   Raviraj                   0     0        1       BHK   700.097688
 23565   Builder                   1     1        1       BHK   565.130261
 ...         ...                 ...   ...      ...       ...          ...
 26501    Dealer                   0     1        2       BHK  1203.548711
 26502    Dealer                   0     0        2       BHK  1023.100533
 26503   Raviraj                   0     0        2       BHK  1119.917298
 26504   Raviraj                   0     0        2       BHK  1245.124512
 26505    Dealer                   0     1        2       BHK  1400.147384

        READY_TO_MOVE  RESALE                             ADDRESS  LONGITUDE  \
 23561              1       1               Faizabad Road,Lucknow  26.860560
 23562              1       1                      Carambolim,Goa  15.459622
 23563              0       1                   Ambapua,Berhampur  19.304032
 23564              1       1         Mansarovar Extension,Jaipur  26.862600
 23565              0       0               Madhaliwadi,Ratnagiri  16.897246
 ...              ...     ...                                 ...        ...
 26501              1       1  Electronic City Phase II,Bangalore  12.845800
 26502              1       1                   Thane West,Mumbai  19.180000
 26503              1       1                   New Dindoli,Surat  21.142359
 26504              1       1                Whitefield,Bangalore  12.995893
 26505              1       1                  Horamavu,Bangalore  13.031800

         LATITUDE  TARGET(PRICE_IN_LACS)
 23561  80.915830                   47.1

In [45]:
np.shape(a)

(10,)

In [34]:
train=np.concatenate(a[0:8])
train

array([['Raviraj', 0, 0, ..., 12.96991, 77.59796, 55.0],
       ['Dealer', 0, 0, ..., 12.274538, 76.644605, 51.0],
       ['Raviraj', 0, 0, ..., 12.778033, 77.632191, 43.0],
       ...,
       ['Dealer', 0, 0, ..., 19.1758, 72.8643, 170.0],
       ['Dealer', 0, 1, ..., 21.56128, 74.21238000000001, 61.0],
       ['Dealer', 0, 0, ..., 18.5442, 73.7948, 85.0]], dtype=object)

In [35]:
train_d=pd.DataFrame(train)
train_d

,0,1,2,3,4,5,6,7,8,9,10,11
0,Raviraj,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.96991,77.59796,55.0
1,Dealer,0,0,2,BHK,1275.0,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Raviraj,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Raviraj,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.6423,77.3445,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.5922,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
23556,Dealer,1,0,2,BHK,1174.934726,0,1,"Sector-16 Ulwe,Mumbai",19.076466,72.999804,58.5
23557,Builder,1,1,2,BHK,1165.892099,0,0,"Thanisandra,Bangalore",13.055985,77.622157,57.7
23558,Dealer,0,0,2,BHK,1262.907659,1,1,"Malad (East),Lalitpur",19.1758,72.8643,170.0
23559,Dealer,0,1,2,BHK,1040.068201,1,1,"Taloja,Maharashtra",21.56128,74.21238,61.0
23560,Dealer,0,0,2,BHK,1100.038825,1,1,"Pashan,Pune",18.5442,73.7948,85.0

test_d=pd.Data_Frame(a[8:10])
test_d

In [48]:
b=a[8:10]
b

[      POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 23561    Dealer                   0     1        2       BHK  1239.473684
 23562   Raviraj                   0     0        2       BHK   968.686641
 23563    Dealer                   1     0        2       BHK   980.100980
 23564   Raviraj                   0     0        1       BHK   700.097688
 23565   Builder                   1     1        1       BHK   565.130261
 ...         ...                 ...   ...      ...       ...          ...
 26501    Dealer                   0     1        2       BHK  1203.548711
 26502    Dealer                   0     0        2       BHK  1023.100533
 26503   Raviraj                   0     0        2       BHK  1119.917298
 26504   Raviraj                   0     0        2       BHK  1245.124512
 26505    Dealer                   0     1        2       BHK  1400.147384

        READY_TO_MOVE  RESALE                             ADDRESS  LONGITUDE  \
 23561              1       1               Faizabad Road,Lucknow  26.860560
 23562              1       1                      Carambolim,Goa  15.459622
 23563              0       1                   Ambapua,Berhampur  19.304032
 23564              1       1         Mansarovar Extension,Jaipur  26.862600
 23565              0       0               Madhaliwadi,Ratnagiri  16.897246
 ...              ...     ...                                 ...        ...
 26501              1       1  Electronic City Phase II,Bangalore  12.845800
 26502              1       1                   Thane West,Mumbai  19.180000
 26503              1       1                   New Dindoli,Surat  21.142359
 26504              1       1                Whitefield,Bangalore  12.995893
 26505              1       1                  Horamavu,Bangalore  13.031800

         LATITUDE  TARGET(PRICE_IN_LACS)
 23561  80.915830                   47.1
 23562  73.941404                   43.0
 23563  84.610965                   33.0
 23564  75.763300                   21.5
 23565  73.382029                   14.1
 ...          ...                    ...
 26501  77.672700                   71.9
 26502  72.963330                  190.0
 26503  72.862596                   32.5
 26504  77.761394                   83.0
 26505  77.658300                   76.0

 [2945 rows x 12 columns],
       POSTED_BY  UNDER_CONSTRUCTION  RERA  BHK_NO. BHK_OR_RK    SQUARE_FT  \
 26506   Raviraj                   0     0        2       BHK   750.075007
 26507    Dealer                   0     1        3       BHK  1945.146859
 26508   Raviraj                   0     0        3       BHK  1090.215318
 26509   Raviraj                   0     1        2       BHK  1156.199678
 26510   Raviraj                   0     0        2       BHK   950.269243
 ...         ...                 ...   ...      ...       ...          ...
 29446   Raviraj                   0     0        3       BHK  2500.000000
 29447   Raviraj                   0     0        2       BHK   769.230769
 29448    Dealer                   0     0        2       BHK  1022.641509
 29449   Raviraj                   0     0        2       BHK   927.079009
 29450    Dealer                   0     1        2       BHK   896.774194

        READY_TO_MOVE  RESALE                            ADDRESS  LONGITUDE  \
 26506              1       1              Vaishali Nagar,Indore  22.680741
 26507              1       1              Sector-74 Noida,Noida  28.577673
 26508              1       1                 Maheshtala,Kolkata  22.486821
 26509              1       1                Zirakpur,Chandigarh  30.662283
 26510              1       1              Zingabai Takli,Nagpur  21.033401
 ...              ...     ...                                ...        ...
 29446              1       1               Shamshabad Road,Agra  27.140626
 29447              1       1  E3-108, Lake View Recidency,,Vapi  39.945409
 29448              1       1                  Ajmer Road,Jaipur  26.928785
 29449              1       1             Sholinganallur,Chennai  12.900150
 29450              1       1                   Jagatpura,Jaipur  26.832353

         LATITUDE  TARGET(PRICE_IN_LACS)
 26506  75.832009                   25.0
 26507  77.389781                  100.0
 26508  88.233267                   40.0
 26509  76.822397                   35.9
 26510  79.491924                   30.0
 ...          ...                    ...
 29446  78.043277                   45.0
 29447 -86.150721                   16.0
 29448  75.828002                   27.1
 29449  80.227910                   67.0
 29450  75.841749                   27.8

 [2945 rows x 12 columns]]

In [50]:
b=np.concatenate(b)

In [51]:
test_d=pd.DataFrame(b)
test_d

,0,1,2,3,4,5,6,7,8,9,10,11
0,Dealer,0,1,2,BHK,1239.473684,1,1,"Faizabad Road,Lucknow",26.86056,80.91583,47.1
1,Raviraj,0,0,2,BHK,968.686641,1,1,"Carambolim,Goa",15.459622,73.941404,43.0
2,Dealer,1,0,2,BHK,980.10098,0,1,"Ambapua,Berhampur",19.304032,84.610965,33.0
3,Raviraj,0,0,1,BHK,700.097688,1,1,"Mansarovar Extension,Jaipur",26.8626,75.7633,21.5
4,Builder,1,1,1,BHK,565.130261,0,0,"Madhaliwadi,Ratnagiri",16.897246,73.382029,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...
5885,Raviraj,0,0,3,BHK,2500.0,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
5886,Raviraj,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
5887,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
5888,Raviraj,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.90015,80.22791,67.0
5889,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

### str.split().str.get()

In [20]:
data["ADDRESS"]=data["ADDRESS"].str.split(",").str.get(1)

In [21]:
data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Raviraj,0,0,2,BHK,1300.236407,1,1,Bangalore,12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,Mysore,12.274538,76.644605,51.0
2,Raviraj,0,0,2,BHK,933.159722,1,1,Bangalore,12.778033,77.632191,43.0
3,Raviraj,0,1,2,BHK,929.921143,1,1,Ghaziabad,28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,Kolkata,22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Raviraj,0,0,3,BHK,2500.000000,1,1,Agra,27.140626,78.043277,45.0
29447,Raviraj,0,0,2,BHK,769.230769,1,1,Lake View Recidency,39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,Jaipur,26.928785,75.828002,27.1
29449,Raviraj,0,0,2,BHK,927.079009,1,1,Chennai,12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,Jaipur,26.832353,75.841749,27.8

In [22]:
data["POSTED_BY"].value_counts()

Dealer     18291
Raviraj    10538
Builder      622
Name: POSTED_BY, dtype: int64

### rename()

In [24]:
data.rename(columns={"POSTED_BY":"RAVI'S"})

,RAVI'S,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Raviraj,0,0,2,BHK,1300.236407,1,1,Bangalore,12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,Mysore,12.274538,76.644605,51.0
2,Raviraj,0,0,2,BHK,933.159722,1,1,Bangalore,12.778033,77.632191,43.0
3,Raviraj,0,1,2,BHK,929.921143,1,1,Ghaziabad,28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,Kolkata,22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Raviraj,0,0,3,BHK,2500.000000,1,1,Agra,27.140626,78.043277,45.0
29447,Raviraj,0,0,2,BHK,769.230769,1,1,Lake View Recidency,39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,Jaipur,26.928785,75.828002,27.1
29449,Raviraj,0,0,2,BHK,927.079009,1,1,Chennai,12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,Jaipur,26.832353,75.841749,27.8